/* ✨ BEAUTY TWEAK: A rich, atmospheric twilight background */
.cinematic-bg {
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  animation: speeder 0.4s linear infinite;
  z-index: 10;
}

.loader > span {
  height: 5px;
  width: 35px;
  background: #ff4747;
  position: absolute;
  top: -19px;
  left: 60px;
  border-radius: 2px 10px 1px 0;
  box-shadow: 0 0 10px #ff4747, 0 0 20px #f51313; /* Burning engine glow */
}

.base span {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 100px solid #f3cfcf;
  border-bottom: 6px solid transparent;
}

.base span:before {
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #f3cfcf;
  position: absolute;
  right: -110px;
  top: -16px;
  box-shadow: inset -2px -2px 5px rgba(0,0,0,0.15); /* Soft 3D shadow */
}

.base span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 55px solid #f3cfcf;
  border-bottom: 16px solid transparent;
  top: -16px;
  right: -98px;
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: #f3cfcf;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;
}

.face:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #ff4747;
  right: 4px;
  top: 7px;
  position: absolute;
  transform: rotate(40deg);
  transform-origin: 50% 50%;
  border-radius: 0 0 2px 2px;
}

.loader > span > span {
  width: 30px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  box-shadow: 0 0 5px #fff, 0 0 10px #ffea00; /* Glowing engine sparks */
}

.loader > span > span:nth-child(1) { animation: fazer1 0.2s linear infinite; }
.loader > span > span:nth-child(2) { top: 3px; animation: fazer2 0.4s linear infinite; }
.loader > span > span:nth-child(3) { top: 1px; animation: fazer3 0.4s linear infinite; animation-delay: -1s; }
.loader > span > span:nth-child(4) { top: 4px; animation: fazer4 1s linear infinite; animation-delay: -1s; }

@keyframes fazer1 { 0% { left: 0; } 100% { left: -80px; opacity: 0; } }
@keyframes fazer2 { 0% { left: 0; } 100% { left: -100px; opacity: 0; } }
@keyframes fazer3 { 0% { left: 0; } 100% { left: -50px; opacity: 0; } }
@keyframes fazer4 { 0% { left: 0; } 100% { left: -150px; opacity: 0; } }

@keyframes speeder {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -3px) rotate(-1deg); }
  20% { transform: translate(-2px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 3px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-2px, -1px) rotate(1deg); }
  90% { transform: translate(2px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* ✨ BEAUTY TWEAK: Light trails instead of basic white lines */
.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;
}

.longfazers span {
  position: absolute;
  height: 2px;
  width: 20%;
  background: #ffffff;
  box-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff; /* Cyan glow */
  border-radius: 50%;
}

.longfazers span:nth-child(1) { top: 20%; animation: lf 0.6s linear infinite; animation-delay: -5s; }
.longfazers span:nth-child(2) { top: 40%; animation: lf2 0.8s linear infinite; animation-delay: -1s; }
.longfazers span:nth-child(3) { top: 60%; animation: lf3 0.6s linear infinite; }
.longfazers span:nth-child(4) { top: 80%; animation: lf4 0.5s linear infinite; animation-delay: -3s; }

/* Using 'vw' ensures the lines cross the whole screen on any device */
@keyframes lf { 0% { left: 100vw; } 100% { left: -100vw; opacity: 0; } }
@keyframes lf2 { 0% { left: 100vw; } 100% { left: -100vw; opacity: 0; } }
@keyframes lf3 { 0% { left: 100vw; } 100% { left: -100vw; opacity: 0; } }
@keyframes lf4 { 0% { left: 100vw; } 100% { left: -100vw; opacity: 0; } }


/* ✨ BEAUTY TWEAK: Responsive, softer clouds */
.clouds {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud {
  position: absolute;
  background: #ffffff;
  border-radius: 50px;
  opacity: 0.15;
  animation: moveClouds linear infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
}

.cloud::before {
  width: 50px;
  height: 50px;
  top: -20px;
  left: 15px;
}

.cloud::after {
  width: 70px;
  height: 70px;
  top: -30px;
  left: 45px;
}

/* Changed rigid pixels (1400px) to Viewport Width (-20vw) so they spawn off-screen cleanly */
.cloud1 { width: 130px; height: 40px; top: 15%; right: -20vw; animation-duration: 6s; }
.cloud2 { width: 160px; height: 50px; top: 35%; right: -40vw; animation-duration: 8s; opacity: 0.1; }
.cloud3 { width: 120px; height: 40px; top: 20%; right: -60vw; animation-duration: 7s; }
.cloud4 { width: 150px; height: 45px; top: 70%; right: -30vw; animation-duration: 5s; }
.cloud5 { width: 180px; height: 55px; top: 80%; right: -80vw; animation-duration: 9s; opacity: 0.2; }

@keyframes moveClouds {
  0% { transform: translateX(0); }
  100% { transform: translateX(-150vw); } /* Moves across any screen size */
}